
        <div class="card">
          <div class="card-header text-black">
            <b>Phản ánh , Kiến nghị , Góp Ý</b>
          </div>
          <div class="card-body">
            <p class="fs-6 text">Mời bạn đọc gửi câu hỏi của mình bằng cách điền đầy đủ thông tin theo mẫu trên.
              Thông tin cần hỏi phải rõ ràng để cơ quan chức năng đủ căn cứ xem xét trả lời. Bạn nên đăng ký địa
              chỉ Email, số điện thoại để khi cần Ban biên tập có thể liên lạc được với bạn được thuận lợi hơn. Ý
              kiến trả lời có thể được đăng tải ở chuyên mục "Cơ quan chức năng trả lời công dân" hoặc gửi trực
              tiếp đến hộp thư điện tử cho Qúy bạn đọc trong thời gian sớm nhất. Xin chân thành cảm ơn!</p>
            <div class="row pt-4">
              <div class="col-sm-6">
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Họ Và Tên (*)">
              </div>
              <div class="col-sm-6">
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Email(*)">
              </div>
            </div>
            <div class="row pt-4">
              <div class="col-sm-6">
                <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="Số Điện Thoại (*)">
              </div>
              <div class="col-sm-6">
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Địa Chỉ(*)">
              </div>
            </div>
            <div class="row p-3">
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                placeholder="Nội Dung(*)"></textarea>
  
            </div>
          </div>
          <div class="row">
            <label for="formFileMultiple" class="form-label fs-6 text text-primary px-4">File đính kèm nếu có doc, docx,
              pdf, rar, png, jpeg (< 4 MB)</label>
                <div class="col-sm-4 mb-3 px-4">
                  <input class="form-control" type="file" id="formFileMultiple" multiple>
                </div>
                <div class="col-sm-2">
                  <button type="button" class="btn btn-outline-info">Tải lên</button>
                </div>
  
          </div>
          <div class="row pb-4">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
              <div class="row">
                <button type="button"
                  class="me-1 border border-primary btn btn-primary btn-outline-light col-sm-5">Gưởi</button>
                <button type="button" class="border border-primary btn btn-primary btn-outline-light col-sm-5">Làm
                  mới</button>
              </div>
            </div>
            <div class="col-sm-4"></div>
          </div>